<DOCTYPE! html>

    <head>
        <title>Cas 01</title>
        <meta charset="UTF-8">
        <meta name="description" content="Front-End Academy 2019">
        <meta name="keyword" content="html,css,javascript">
        <meta name="author" content="FrontEnd Developer">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Barrio" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <header>
            <div class="hleft">
                <h4>LOGO</h4>
            </div>
            <div class="hright">
                <div class="nav">HOME</div>
                <div class="nav">HOME</div>
                <div class="nav"> <div class="dropdown"><button class="dropbtn">Home
                        <i class="fa fa-caret-down"></i>
                      </button>
                    <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                          </div></div></div>
                <div class="nav">HOME</div>
                <div class="nav">HOME</div>
                <div class="nav">HOME</div>
                <div class="nav">HOME</div>
            </div>
        </header>
        <div class="main">
            <h1>TITLE</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <input type="button" value="VIEW ALL DEMOS">
        </div>
        <div class="main1">
            <div class="box">
                <h1>60+</h1>
                <p>Total Pages</p>
            </div>
            <div class="box" style="background-color: yellow;">
                <h1>60+</h1>
                <p>Total Pages</p>
            </div>
            <div class="box" style="background-color: green;">
                <h1>60+</h1>
                <p>Total Pages</p>
            </div>
            <div class="box" style="background-color: hotpink;">
                <h1>60+</h1>
                <p>Total Pages</p>
            </div>
        </div>
        <div class="main2">
            <h1>CHOOSE YOUR DEMO</h1>
            <div class="minitable">
                <input type="button" value="All">
                <input type="button" value="Home">
                <input type="button" value="Porfolio">
                <input type="button" value="Blog">
                <input type="button" value="Others">
            </div>
        </div>
        <div class="main3">
            <div class="box1">
                <img src="page1.png">
                <p>Home One</p>
            </div>
            <div class="box1">
                <img src="page-2.png">
                <p>Home One</p>
            </div>
            <div class="box1">
                <img src="page-3.png">
                <p>Home One</p>
            </div>
            <div class="box1">
                <img src="page1.png">
                <p>Home One</p>
            </div>
            <div class="box1">
                <img src="page1.png">
                <p>Home One</p>
            </div>
            <div class="box1">
                <img src="page1.png">
                <p>Home One</p>
            </div>
        </div>
        <div class="main4">
            <div class="main4title">
                <h1>Title</h1>
                <p>Lorem ipsum dolor sit amet consectet</p>
            </div>
            <div class="main4content">
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
                <div class="main4box"><img src="arrow.png">TEXT</div>
            </div>
        </div>
        <footer>
            <h4>CODEPRENEURS</h4>
            <div class="share">
                    <i class="fa fa-facebook" style="font-size:28px;"></i>
                    <i class="fa fa-facebook" style="font-size:28px;"></i>
                    <i class="fa fa-facebook" style="font-size:28px;"></i>
                    <i class="fa fa-facebook" style="font-size:28px;"></i>
            </div>
        </footer>

    </body>

    </html>