* {
    box-sizing: border-box;
}
body {
    margin:0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1 {
    padding:0;
}
p {
    padding:0;
    margin:0;
}
header {
    display:flex;
}
.hleft {
    flex:50%;
}
.hleft h4 {
    padding:0;
    margin-left:25px;
}
.hright {
    flex:50%;
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
}
.nav {
    padding:20px;
}
.main {
    display: flex;
    align-items: center;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    background-color:#eee;
    text-align:center;
}
.main input {
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
    box-shadow: 2px 2px #888888;
    margin-top:20px;
}
.main input:hover {
    background-color: #888888;
    color: white;
    border: none;
    padding: 10px;
}
.main1 {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.box {
    background-color: blue;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
    padding: 20px 60px 20px 60px;
    color:white;
}
.main2 {
    display: flex;
    padding:50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.minitable input {
    background-color: #eee;
    color: black;
    border: none;
    padding: 10px;
    box-shadow: 2px 2px #888888;
}
.minitable input:hover {
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
}
.main3 {
    display: flex;
    flex-wrap: wrap;
    padding: 10%;
    justify-content: space-around;
}

.box1 {
    text-align: center;
    margin: 20px;
    border: 5px solid #eee;
    box-shadow: 2px 2px #888888;
}
.box1:hover {
    box-shadow: 2px 2px black;
    border:2px solid grey;
}
.box1 img {
    width:250px;
}
.main4 {
    display:flex;
    padding:50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.main4content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
    flex-flow: wrap column;
}
.main4title{
    padding-bottom:5%;

}
.main4box {
    flex: 20;
    width: 10%;
    height: 20px;
    padding: 15px;
}
footer {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background-color: grey;
    color:white;
    height: 20vh;
    justify-content: flex-end;
}
footer h4 {
    padding:0;
    margin:0;
}
.share i {
    padding:10px;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
@media screen and (max-width: 425px) {
    .main1 {
        flex-direction: column;
    align-items: center;
    }
    .margin {
        10px;
    }
    .hright {
        display:none;
    }
    .box {
        margin:10px;
    }
}